#main{
	background-color: #f5f2d0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#title{
	color: black;
}
#upper{
	text-align: center;
}
#image{
	width: 200px;
	object-fit: cover;
	height: 200px;
	border-radius: 50%;
}
#about{
	text-align: center;
}
h3{
	font-size: 25px;
	color: black;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ccc;
    margin: 1em 0;
    padding: 0;
}