{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Meldi's Background</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% include "baseNav.html" %}

    <div id="Background" class="Background">
    <h3 class="text-center font-white mx-auto">Background</h3>
    <div class="top-background text-center font-white mx-auto"><h5>Education</h5>
      <div class="text-center font-white mx-auto">
        <div class="text-center font-white mx-auto justify-content">
          <h6>SD Kartika VIII-2</h6>
          <h6>SMPN 20 Jakarta</h6>
          <h6>SMAN 48 Jakarta</h6>
          <h6>Universitas Indonesia</h6>
        </div>
      </div>
    </div>

    <div class="d-flex low-background justify-content-around">
      <div class="font-white">Volunteering Experience
          <h5>BEM Fasilkom UI 2019<br />
            <span>Staff Dept. Pengabdian Masyarakat</span>
          </h5>
          <h5>FUKI Fasilkom UI 2019<br />
            <span>Kepala Dept. Sosial Masyarakat</span>
          </h5>
          <h5>BEM Fasilkom UI 2018<br />
            <span>Project Officer of SPACE 2018</span>
          </h5>
          <h5>Rohis 48<br />
            <span>Mentor</span>
          </h5>
          <h5>DDP-0<br />
            <span>Mentor</span>
          </h5>
      </div>
      <div class="font-white">Professional Experience
          <h5>Universitas Indonesia<br />
            <span>Teaching Assistant for DDP-1 Course.</span>
          </h5>
      </div>
    </div>

  </div>


</body>
</html>