{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>
</head>
<body>
{% include "baseNav.html" %}

   <div id="Contact" class="Contact text-center">
  	<h3 class="text-center mx-auto">Contact</h3>
    <a href="https://bit.ly/ThisIsMeldi" class="btn btn-floating btn-lg btn-social-icon btn-linkedin">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://instagram.com/meldihaf_" class="btn btn-floating btn-lg btn-social-icon btn-instagram">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="mailto:meldihafizh@gmail.com" class="btn btn-floating btn-lg btn-social-icon btn-email">
      <i class="fa fa-envelope"></i>
    </a>

  </div>

</body>
</html>