{% load static %}
<HTML>
<head>
  <title>Meldi's Profile Page</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<main>
    {% include "baseNav.html" %}
  <div  id="profile-page" class="profile-page">
    <img id="its-me" src="https://i.ibb.co/T04Hvxk/IMG-1353-min.jpg" class="mx-auto d-block shadow" alt="pic">
    <h3 class="text-center mx-auto help font-white">Meldi Hafizh Sayoko</h3>
  </div>

  <div class="container text-center mx-auto justify-content-around">
  	<div class="row">
      <div class="column text-center mx-auto"><h3>About Me</h3></div>
    </div>
    <div class="row">
      <div class="column about-me-text mx-auto text-center justify-content-around">A student at Universitas Indonesia with an enormous passion for technology. Also like communicating and connecting people, also active in Social Service activities. Born in Jakarta at 27th of January 2000.</div>
    </div>
  </div>

</main>