{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ini Jadwal</title>
</head>
<body>
	{% include "baseNav.html" %}
	<br>
	<br>
	<br>
	<form method="POST">
		{% csrf_token %}
		<table>
      {{create_jadwal.as_table}}
			<button type="Submit">Kirim</button>
		</table>
	</form>
	<br>
	<br>
	<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Tanggal</th>
      <th scope="col">Kegiatan</th>
      <th scope="col">Kategori</th>
      <th scope="col">Tempat</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  	{% for jadwal in jadwals %}
    <tr>
      <th scope="row">{{jadwal.tanggal}}</th>
      <td>{{jadwal.kegiatan}}</td>
      <td>{{jadwal.kategori}}</td>
      <td>{{jadwal.tempat}}</td>
      <td><a class='btn btn-warning' href="{% url 'tugas:deleteJadwal' delete_id=jadwal.id %}" title=''>Delete<a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>