<!DOCTYPE html>
<html class="Warnahtml">
<head>
	<title>Meldi's Project</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="styling.css" rel="stylesheet" type="text/css">
</head>
{% include "baseNav.html" %}
<body class="Warnahtml center-page">
	<div class="text-center mx-auto font-white">
		<h1>Projects</h1>
		<h2>Coming Soon</h2>
		<div class="progress text-center mx-auto">
  		<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
			</div>
	 </div>
</body>
</html>