<!DOCTYPE html>
{%load static%}

{%block content%}
<div class="fooheader"></div>
  <nav class="nav nav-black justify-content-end fixed-top">
    <a class="nav-link nav-link-white active" href="{% url 'tugas:index' %}">About</a>
    <a class="nav-link nav-link-white" href="{% url 'tugas:background' %}">Background</a>
    <a class="nav-link nav-link-white" href="{% url 'tugas:contacts' %}">Contact</a>
    <a class="nav-link nav-link-white" href="{% url 'tugas:projects' %}">Project</a>
    <a class="nav-link nav-link-white" href="{% url 'tugas:jadwal' %}">Jadwal</a>
    <a class="navbar-brand justify-content-start" href="#">
      <img id="img-size" src="https://i.ibb.co/7Qkkf5y/logo.png" alt="">
  </a>
  </nav>
  {%endblock%}
</html>